/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("assets/images/triangular.png");
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2 {
  color:#4aaaa5;
  font-family: "Times New Roman", Georgia, Serif;
}

.navbar-default {
  background-color: #ffffff !important;
}

.navbar-header{
  display: block;
  padding-left: 19px;
  background-color:#4aaaa5;
  font-family: "Times New Roman", Georgia, Serif;
}

.navbar-brand{
  width:140px;
  display: block;
  color:#ffffff !important;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #666666;
  border-top:solid;
  border-color:#4aaaa5;
  border-width: 4px;
  color:#b7b7bd;
  text-align: center;
}

.col-md-8 {
  background:#ffffff;
}

.panel-title {
  color:#4aaaa5;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 10px 0;
}

.panel-default {
  display: block;
 
}

.col-xs-4 {
  display:block;
  vertical-align: bottom;
}

.btn-primary {
  background-color:#4aaaa5 !important;
}

.img-circle {
  height: 150px;
}

.img-rounded {
  height: 150px;
}

